services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: dark-trifid-backend
    ports:
      - "8000:8000"
    environment:
      - ENVIRONMENT=development
    volumes:
      - ./backend:/app
    networks:
      - app-network
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8000/api/health" ]
      interval: 30s
      timeout: 10s
      retries: 3

  frontend:
    build:
      context: .
      dockerfile: frontend/Dockerfile
    container_name: dark-trifid-frontend
    ports:
      - "8888:80" # Cambiado a 8888 para evitar conflicto con IIS
    depends_on:
      - backend
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
